
*{
	font-family: helvetica;
}
.title{
	display: none;
}
p:hover{
	text-decoration: underline;
}

.active-link{
	font-weight: bold;
}
.bg {
	background-color: #88439a;
}
.btn-outline {
	border-color: #88439a;
}
.thead {
	border: 1px solid #88439a !important;
	color:  #88439a !important;
	
}
.btn-purple {
	background-color: #88439a;
}
